<html>
  <head>
    <title>Bork Generator</title>
  </head>
  <body>

    <h1 style="text-align: center; color: #45b1e2">
     Initializing bork... <em style="color: #45b1e2; text-align: center">
    </h1>

    <form action="/bork/doggo_type/" method="post">
      <input name="method" type="hidden" value="<%= @doggo_type %>" />
      <input name="bork_type" type="hidden" />
    </form>

    <p>
    <%= response %>
    </p>


  </body>
</html>
