# form output

<html>
  <head>
    <title>Bork Generator</title>
  </head>
  <body>

    <h1>
     Initializing bork... <em style="color: #45b1e2;">
    </h1>

    <h2>
    <%= bork(doggo_type) %>
    </h2>

  </body>
</html>
