<html>
  <head>
    <title>Bork Generator</title>
  </head>
  <body>

    <h1>
    Find the flavor of bork here! <em style="color: #45b1e2;">
    </h1>

    <form action="/bork/" method="POST">
      What doggo are you?: <input type="text" name="doggo_type">
      <br/>
      <br/>
      <input type="submit" value="pls submits">
    </form>

  </body>
</html>
