<html>
  <head>
    <title>Bork Generator</title>
  </head>
  <body>

    <h1>
     Initializing bork... <em style="color: #45b1e2;">
    </h1>

    <form accept-charset="UTF-8" action="/bork/me/" method="get">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="bork_type" type="hidden" />
    </form>

    <p>
    <%= response %>
    </p>


  </body>
</html>
